# Classification Problem

## By Sachin Saj

In [101]:
import numpy as np
import pandas as pd

from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression

from sklearn import metrics
import time as t
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [102]:
data = pd.read_csv('training_data.csv')
print('Shape of the dataset -> ',data.shape)
print('Length of the dataset -> ',len(data))
print(data.columns)
data.head(10)

Shape of the dataset ->  (977, 24)
Length of the dataset ->  977
Index(['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11',
       'P12', 'P13', 'P14', 'P15', 'P16', 'P17', 'P18', 'P19', 'P20', 'P21',
       'P22', 'P23', 'Target'],
      dtype='object')

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P15,P16,P17,P18,P19,P20,P21,P22,P23,Target
0,21.9905,48.92904,3,49999.9,49636.0,49999.9,49600.1,20,49779.46,49759.91,...,49771.70000,49760.59354,30.187171,48.219794,37240,0.39,-0.40,49.29,-0.73,1
1,12.5660,62.52044,1,30197.1,30797.0,30890.0,29980.0,130,29952.60,29901.70,...,25986.15769,27629.48448,894.592577,186.211113,17470,1.86,-0.91,67.24,1.99,1
2,31.4150,81.54840,0,19749.0,20220.0,20499.0,19501.0,390,19463.38,19534.76,...,17373.52692,17641.32897,1164.357067,1066.744429,5300,1.73,-0.59,74.74,2.38,1
3,3.1415,19.02796,3,31400.0,33000.0,33350.0,31400.0,490,30735.64,31105.72,...,29665.68846,30207.41808,92.681330,-316.800851,28600,1.45,-0.72,66.96,5.10,0
4,21.9905,78.83012,2,36555.0,36438.0,36800.0,36080.0,250,37074.60,36974.91,...,40612.78462,39195.38726,-1190.945639,-778.167288,29640,1.15,-1.59,41.99,-0.32,1
5,6.2830,51.64732,2,14560.7,14630.1,14924.9,14422.0,290,13960.10,14127.73,...,13274.69615,13586.32844,162.454393,-27.743309,15760,1.09,-0.48,69.52,0.48,1
6,9.4245,38.05592,3,28995.0,27300.0,29000.0,26500.0,190,31616.94,30878.17,...,39332.68462,37680.19437,-2809.306323,-1284.625938,30680,1.53,-3.43,30.82,-5.85,1
7,6.2830,24.46452,2,13400.0,13400.0,13539.4,13311.0,70,12973.02,13082.86,...,13256.30000,13300.94652,-288.827745,-391.952637,15190,0.75,-0.67,52.90,0.00,1
8,3.1415,65.23872,3,35230.0,35649.1,36000.0,34450.0,190,36206.08,35998.09,...,33443.13462,34209.56934,1433.042219,1496.468131,29420,1.12,-0.72,60.86,1.23,0
9,28.2735,16.30968,0,16649.0,16869.0,17490.1,16595.7,550,17156.60,17007.70,...,15769.59474,12516.28113,3502.307198,3828.826997,2630,1.35,-0.74,64.66,1.32,1

In [103]:
X = data.drop(['Target'], axis=1)
Y = data['Target']

In [104]:
print(X.shape)
print(Y.shape)

(977, 23)
(977,)

In [105]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(781, 23)
(781,)
(196, 23)
(196,)

In [106]:
sc = MinMaxScaler()
x_train = sc.fit_transform(x_train)

In [107]:
#print(x_train)
#print(y_train)

In [108]:
svc = SVC(kernel='sigmoid', gamma=1.0)
knc = KNeighborsClassifier(n_neighbors=49)
mnb = MultinomialNB(alpha=0.2)
dtc = DecisionTreeClassifier(min_samples_split=7, random_state=111)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=31, random_state=111)
abc = AdaBoostClassifier(n_estimators=62, random_state=111)
bc = BaggingClassifier(n_estimators=9, random_state=111)
etc = ExtraTreesClassifier(n_estimators=9, random_state=111)

logloss = []
score = []
train_time = []
for i,j in enumerate([svc,knc,mnb,dtc,lrc,rfc,abc,bc,etc]):
    j.fit(x_train,y_train)
    pred = j.predict(x_test)
    logloss.append([metrics.log_loss(y_test,pred)])
    score.append([metrics.accuracy_score(y_test,pred)])

In [109]:
ML_Classifier = ['SVM','KNeighborClassifier', 'MultinomialNB',
        'DecisionTreeClassifier','LogisticRegression','RandomForestClassifier',
        'Adaboost','BaggingClassifier','ExtraTreesClassifier']
ML_Classifier = pd.DataFrame(ML_Classifier)
logloss = pd.DataFrame(logloss)
score = pd.DataFrame(score)
ML_Classifier['Log_Loss'] = logloss
ML_Classifier['Score'] = score
ML_Classifier.columns = ['ML_Classifier','Log_Loss','Score']

In [110]:
ML_Classifier.head(10)

            ML_Classifier   Log_Loss     Score
0                     SVM  16.212454  0.530612
1     KNeighborClassifier  18.326698  0.469388
2           MultinomialNB  18.326698  0.469388
3  DecisionTreeClassifier  18.326698  0.469388
4      LogisticRegression  18.326698  0.469388
5  RandomForestClassifier  18.326698  0.469388
6                Adaboost  15.683616  0.545918
7       BaggingClassifier  18.326698  0.469388
8    ExtraTreesClassifier  18.326698  0.469388

### Conclusion:
- From this table, it is clear that Adaboost ML classifier performed the best with logloss of 0.15

### Testing with unknown target value

In [113]:
test_data = pd.read_csv('test_data.csv')
print('Shape of the dataset',test_data.shape)
print('Length of the dataset',len(test_data))
test_data.head()

Shape of the dataset (109, 23)
Length of the dataset 109

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23
0,9.4245,81.54840,1,24676.0,23700.0,24890.0,23000.0,190,26065.20,25715.88,...,27261.90686,29320.05385,29000.87505,-1738.968189,-1414.335908,16790,0.91,-2.34,27.94,-3.96
1,9.4245,65.23872,3,32606.3,34200.0,34487.0,32500.0,350,32359.36,32379.42,...,32003.77572,34675.61538,33978.86050,-1975.084790,-2572.205384,31570,2.70,-2.23,54.71,4.89
2,3.1415,40.77420,3,36223.0,36879.4,37200.0,35463.0,310,34533.86,35005.76,...,33334.08690,31124.15385,32004.18256,1329.904343,680.485293,29350,1.73,-0.55,75.83,1.81
3,37.6980,2.71828,2,32380.0,31787.0,32554.4,31505.0,90,32323.40,32087.42,...,32469.32642,34402.39615,33568.48867,-1099.162251,-1070.878218,29940,1.06,-1.43,42.73,-1.83
4,28.2735,24.46452,2,42960.0,42580.0,43200.0,42187.0,290,43125.94,42886.02,...,42648.32276,42217.88846,42403.86659,244.456164,135.135392,31440,0.81,-0.74,52.23,-0.77

In [114]:
X = test_data
X = sc.fit_transform(X)
abc = AdaBoostClassifier(n_estimators=62, random_state=111)
abc.fit(x_train, y_train)

pred = abc.predict(X)
print(pred)

[1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 1 1
 0 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1
 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 0 1 1 1 0 1]